
SwiftDesignPatterns.xcodeproj/project.xcworkspace/xcuserdata/skywalker.xcuserdatad/UserInterfaceState.xcuserstate
SwiftDesignPatterns.xcodeproj/xcuserdata/skywalker.xcuserdatad/xcschemes/xcschememanagement.plist
